:local(.flex20) {
  flex-basis: 20%;
  margin-right: 10px;
}

:local(.flex25) {
  flex-basis: 25%;
  margin-right: 10px;
}

:local(.flex30) {
  flex-basis: 30%;
  margin-right: 10px;
}

:local(.flex33) {
  flex-basis: 33%;
  margin-right: 10px;
}

:local(.flex40) {
  flex-basis: 40%;
  margin-right: 10px;
}

:local(.flex50) {
  flex-basis: 50%;
  margin-right: 10px;
}

:local(.flex60) {
  flex-basis: 60%;
  margin-right: 10px;
}

:local(.flex70) {
  flex-basis: 70%;
  margin-right: 10px;
}

:local(.card) {
  width: 100%;
  height: 100%;
  padding: 10px;
}

:local(.cardTitle) {
  font-family: Roboto, Helvetica, Arial, sans-serif; 
  width: 100%; 
  font-size: 18px;
}